body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #333;
    color: white;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ddd;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.cadastro-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.cadastro-form label {
    display: block;
    margin: 10px 0 5px;
}


.cadastro-form input {
    width: calc(100% - 25px); /* Reduz a largura do input para compensar o preenchimento */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cadastro-form button {
    width: calc(100% - 25px); /* Ajusta a largura do botão */
    padding: 10px;
    margin-left: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cadastro-form button:hover {
    background-color: #555;
}

.error-message {
    text-align: center;
    color: red;
    font-size: 18px;
}