body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 35px;
    background-color: #333;
    color: white;
    height: 50px;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
    position: relative;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ddd;
}

.dropdown {
    position: relative;
}

.dropdown .dropbtn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 120%;
    right: 10%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown.show .dropdown-content {
    display: block;
}

.user-icon {
    font-size: 24px;
    margin-right: 5px;
}

.chevron-down-icon {
    font-size: 18px;
    margin-left: 5px;
}

.container {
    max-width: 800px; 
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%; 
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: left;
}

td {
    border: 1px solid #ddd;
    padding: 10px;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

.editar-button, .excluir-button {
    background-color: #f4f4f4;
    color: #333;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.editar-button {
    background-color: orange;
    color: white;
}

.editar-button:hover {
    background-color: darkorange;
}

.excluir-button {
    background-color: red;
    color: white;
}

.excluir-button:hover {
    background-color: darkred;
}

.show {
    display: block !important;
}